<div class="roll-dialog-content">
  <div class="form-group">
    <label for="num-actions">{{localize "STARWARSD6.RollDialog.NumActions"}}</label>
    <input type="number" id="num-actions" name="numActions" value="1" min="1" max="4" autofocus />
  </div>
  {{#if canSpendFP}}
  <div class="form-group">
    <label>
      <input type="checkbox" name="useForcePoint" {{#unless hasFP}}disabled{{/unless}} />
      {{localize "STARWARSD6.FP.SpendFP"}}
      {{#unless hasFP}}<span class="no-fp">({{localize "STARWARSD6.FP.NoFP"}})</span>{{/unless}}
    </label>
  </div>
  {{/if}}
  {{#if isForceRoll}}
  <div class="form-group">
    <label>{{localize "STARWARSD6.Force.DifficultyModifier"}}</label>
    <input type="number" name="forceDifficultyModifier" value="0" min="0" max="30" />
  </div>
  {{/if}}
  {{#if noTarget}}
  <div class="form-group">
    <label>{{localize "STARWARSD6.Combat.Difficulty"}}</label>
    <input type="number" name="difficulty" value="0" min="0" max="99" />
  </div>
  {{/if}}
  <footer class="sheet-footer form-footer">
    <button type="submit" class="default">
      <i class="fas fa-dice"></i>
      {{localize "STARWARSD6.RollDialog.Roll"}}
    </button>
    <button type="button" data-action="close">
      {{localize "STARWARSD6.RollDialog.Cancel"}}
    </button>
  </footer>
</div>
