<div class="starwarsd6 sheet item armor">
  <header class="sheet-header">
    <input type="text" name="name" value="{{item.name}}" placeholder="{{localize 'STARWARSD6.Item.Armor.Name'}}" />
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "STARWARSD6.Item.Armor.ArmorBonus"}}</label>
      <input type="number" name="system.armorBonus" value="{{system.armorBonus}}" min="0" />
    </div>
    <div class="form-group">
      <label>{{localize "STARWARSD6.Item.Equipped"}}</label>
      <input type="checkbox" name="system.equipped" {{#if system.equipped}}checked{{/if}} />
    </div>
  </section>
</div>
