<div class="starwarsd6 sheet item {{item.type}}">
  <header class="sheet-header">
    <input type="text" name="name" value="{{item.name}}" placeholder="{{item.name}}" />
  </header>

  <section class="sheet-body">

    {{#if (eq item.type "weapon")}}
      <div class="form-group">
        <label>{{localize "STARWARSD6.Item.Weapon.DamageDice"}}</label>
        <input type="number" name="system.damageDice" value="{{system.damageDice}}" min="1" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.Item.Weapon.DamagePips"}}</label>
        <input type="number" name="system.damagePips" value="{{system.damagePips}}" min="0" max="2" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.Item.Weapon.AttackSkill"}}</label>
        <input type="text" name="system.attackSkill" value="{{system.attackSkill}}" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.Item.Weapon.WeaponBonus"}}</label>
        <input type="number" name="system.weaponBonus" value="{{system.weaponBonus}}" min="0" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.Item.Weapon.Range"}}</label>
        <input type="text" name="system.range" value="{{system.range}}" />
      </div>
    {{/if}}

    {{#if (eq item.type "armor")}}
      <div class="form-group">
        <label>{{localize "STARWARSD6.Item.Armor.ArmorBonus"}}</label>
        <input type="number" name="system.armorBonus" value="{{system.armorBonus}}" min="0" />
      </div>
    {{/if}}

    {{#if (eq item.type "equipment")}}
      <div class="form-group">
        <label>{{localize "STARWARSD6.Item.Equipment.Quantity"}}</label>
        <input type="number" name="system.quantity" value="{{system.quantity}}" min="0" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.Item.Equipment.Description"}}</label>
        <textarea name="system.description" rows="4">{{system.description}}</textarea>
      </div>
    {{/if}}

    {{#if (eq item.type "forcePower")}}
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.ControlDifficulty"}}</label>
        <input type="text" name="system.controlDifficulty" value="{{system.controlDifficulty}}" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.SenseDifficulty"}}</label>
        <input type="text" name="system.senseDifficulty" value="{{system.senseDifficulty}}" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.AlterDifficulty"}}</label>
        <input type="text" name="system.alterDifficulty" value="{{system.alterDifficulty}}" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.RequiredPowers"}}</label>
        <input type="text" name="system.requiredPowers" value="{{system.requiredPowers}}" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.CanKeepUp"}}</label>
        <input type="checkbox" name="system.canKeepUp" {{#if system.canKeepUp}}checked{{/if}} />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.KeptUp"}}</label>
        <input type="checkbox" name="system.keptUp" {{#if system.keptUp}}checked{{/if}} />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.DarkSideWarning"}}</label>
        <input type="checkbox" name="system.darkSideWarning" {{#if system.darkSideWarning}}checked{{/if}} />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.TimeToUse"}}</label>
        <input type="text" name="system.timeToUse" value="{{system.timeToUse}}" />
      </div>
      <div class="form-group">
        <label>{{localize "STARWARSD6.ForcePower.Effect"}}</label>
        <textarea name="system.effect" rows="4">{{system.effect}}</textarea>
      </div>
    {{/if}}

  </section>
</div>
