<div class="starwarsd6 sheet item skill">
  <header class="sheet-header">
    <input type="text" name="name" value="{{item.name}}" placeholder="Skill Name" />
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "STARWARSD6.Skill.Attribute"}}</label>
      <select name="system.attribute">
        {{#each ATTRIBUTE_KEYS as |key|}}
          <option value="{{key}}" {{#if (eq ../system.attribute key)}}selected{{/if}}>
            {{localize (concat "STARWARSD6.Attribute." key)}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label>{{localize "STARWARSD6.Skill.Rank"}}</label>
      <input type="number" name="system.rank" value="{{system.rank}}" min="0" />
    </div>
    <div class="form-group">
      <label>{{localize "STARWARSD6.Skill.RankPips"}}</label>
      <select name="system.rankPips">
        <option value="0" {{#if (eq system.rankPips 0)}}selected{{/if}}>+0</option>
        <option value="1" {{#if (eq system.rankPips 1)}}selected{{/if}}>+1</option>
        <option value="2" {{#if (eq system.rankPips 2)}}selected{{/if}}>+2</option>
      </select>
    </div>
  </section>
</div>
